services:
  trino:
    image: ghcr.io/brobridgeorg/plasma-trino:1
    container_name: trino
    ports:
      - "9453:8080"
    healthcheck:
      test: ["CMD-SHELL", "/usr/lib/trino/bin/health-check"]
      interval: 15s # 每 15 秒檢查一次
      timeout: 5s # 每次檢查的超時時間為 5 秒
      retries: 5 # 在 start_period 結束後，如果連續失敗 5 次，則標記為 unhealthy
      start_period: 300s # 提供 300 秒 (5 分鐘) 的啟動寬限期
    volumes:
      - ./assets/trino-conf:/etc/trino:Z
    depends_on:
      - plasma-postgres
      - hive-metastore
      - minio
    networks:
      - plasma

networks:
  plasma: {}
